/* external imports  */
@import "./node_modules/normalize.css/normalize.css";

/* fonts  */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,300i,400");

/* ------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
}

body {
  /* width: 1440px; */
  margin: 0 auto;
}

/* ------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------- */
/* ---PARAGRAPH---- */
section {
  padding: 80px 0;
}

/* ---HEADINGS---- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
}

h1 {
  font-size: 475%;
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
  word-spacing: 2px;
}
h2 {
  font-size: 300%;
  margin-bottom: 30px;
  word-spacing: 0.5px;
}

h3 {
  font-size: 140%;
  margin: 15px 0px;
  word-spacing: 0.5px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #ecac43;
  content: " ";
  width: 100px;
  margin: 30px auto;
  margin-bottom: 30px;
}

/* ---PARAGRAPH---- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  font-size: 130%;
  margin-bottom: 60px;
}

.feature-card p {
  line-height: 145%;
  font-size: 105%;
}

/* ---BUTTONS---- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 200px;
  transition: all 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ecac43;
  border: 1px solid #ecac43;
  color: white;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #ecac43;
  color: #fff;
}

.btn:hover,
.btn:active {
  background: #e59717;
}

.btn-full:hover,
.btn-full:active {
  background-color: #e59717;
  border: 1px solid #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #fff;
  color: #fff;
}

/* ---ICONS---- */

.icon-big {
  width: 50px;
  height: 50px;
}
.icon-small {
  width: 25px;
  height: 25px;
}

/* ------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------- */

header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./assets/images/p.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text-box {
  /* border: 1px solid red; */
  position: absolute;
  top: 30%;
  left: 15%;
  color: white;
}

.main-nav {
  height: 100px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

/* .logo {
  margin: 15px;
} */

.nav-list {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
  font-size: 110%;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #ecac43;
}

/* ------------------------------------------------------- */
/* SECTION - FEATURE */
/* ------------------------------------------------------- */
.section-feature {
  width: 90%;
  margin: 0 auto;
}
.section-feature-intro {
  text-align: center;
}
.section-feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 250px;
}

.feature-card {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: justify;
}

.feature-card svg {
  fill: #ecac43;
}

/* ------------------------------------------------------- */
/* SECTION - SPECIALS */
/* ------------------------------------------------------- */

.section-specials {
  /* border: 1px solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
  grid-auto-rows: 250px;
  grid-gap: 15px;
  justify-content: center;
  background-color: #eee;
}

.section-specials figure {
  background: #000;
}

.section-specials img {
  /* border: 1px solid red; */
  width: 350px;
  height: 300px;
  opacity: 0.6;
}
